<header class="header">
  <img class="logo" width="40" height="40" src="./../../../assets/icons/logo.svg" />
  <img class="icon-hamburger" width="24" height="21" src="./../../../assets/icons/icon-hamburger.svg" />
  <nav class="navbar">
    <a routerLink="/" href="/"><span class="section-number">00</span>home</a>
    <a routerLink="/destination" href="/destination"><span class="section-number">01</span>destination</a>
    <a routerLink="/crew" href="/crew"><span class="section-number">02</span>crew</a>
    <a routerLink="/technology" href="/technology"><span class="section-number">03</span>technology</a>
    <span class="pale"></span>
  </nav>
</header>
