<nav class="navbar">
  <div class="navlist">
    <div class="logo">
      <img src="../../../assets/img/nav/logo.svg" alt="logo" />
    </div>
    <input type="checkbox" id="check" />
    <label for="check">
      <span class="bi bi-list">X</span>
    </label>
    <ul class="lista">
      <li>00<a routerLink="/" href="/"> Home</a></li>
      <li>
        01<a routerLink="/destination" href="/destination"> Destination</a>
      </li>
      <li>02<a routerLink="/crew" href="/crew"> Crew</a></li>
      <li>03<a routerLink="/technology" href="/technology"> Technology</a></li>
    </ul>
  </div>
</nav>
